allow-flight={{ allow_flight }}
allow-nether={{ allow_nether }}
broadcast-console-to-ops={{ broadcast_console_to_ops }}
broadcast-rcon-to-ops={{ broadcast_rcon_to_ops }}
difficulty={{ difficulty }}
enable-command-block={{ enable_command_block }}
enable-jmx-monitoring={{ enable_jmx_monitoring }}
enable-query={{ enable_query }}
enable-rcon={{ enable_rcon }}
enable-status={{ enable_status }}
enforce-whitelist={{ enforce_whitelist }}
entity-broadcast-range-percentage={{ entity_broadcast_range_percentage }}
force-gamemode={{ force_gamemode }}
function-permission-level={{ function_permission_level }}
gamemode={{ gamemode }}
generate-structures={{ generate_structures }}
generator-settings={{ generator_settings }}
hardcore={{ hardcore }}
hide-online-players={{ hide_online_players }}
level-name={{ level_name }}
level-seed={{ level_seed }}
level-type={{ level_type }}
max-players={{ max_players }}
max-tick-time={{ max_tick_time }}
max-world-size={{ max_world_size }}
motd={{ motd }}
network-compression-threshold={{ network_compression_threshold }}
online-mode={{ online_mode }}
op-permission-level={{ op_permission_level }}
player-idle-timeout={{ player_idle_timeout }}
prevent-proxy-connections={{ prevent_proxy_connections }}
pvp={{ pvp }}
query.port={{ query_port }}
rate-limit={{ rate_limit }}
rcon.password={{ rcon_password }}
rcon.port={{ rcon_port }}
require-resource-pack={{ require_resource_pack }}
resource-pack={{ resource_pack }}
resource-pack-prompt={{ resource_pack_prompt }}
resource-pack-sha1={{ resource_pack_sha1 }}
server-ip={{ server_ip }}
server-port={{ server_port }}
simulation-distance={{ simulation_distance }}
spawn-animals={{ spawn_animals }}
spawn-monsters={{ spawn_monsters }}
spawn-npcs={{ spawn_npcs }}
spawn-protection={{ spawn_protection }}
sync-chunk-writes={{ sync_chunk_writes }}
text-filtering-config={{ text_filtering_config }}
use-native-transport={{ use_native_transport }}
view-distance={{ view_distance }}
white-list={{ white_list }}
